@import "./variables";

.navbar {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0px;
    margin-bottom: 45px;
    .navbar-left {
        justify-self: flex-start;
    }
    .navbar-right {
        justify-self: flex-end;
    }
    .nav-item {
        display: flex;
        font-size: 18px;
        font-weight: bold;
        gap: 1rem;
        span {
            cursor: pointer;
        }
    }
}
