body {
    background-color: #282c34;
    color: white;
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
}
